

snippet todo
// TODO @szz `date +%Y-%m-%d%p` 
endsnippet

snippet bye "My mail signature"
Good bye, Sir. Hope to talk to you soon.
- Arthur, King of Britain
endsnippet

snippet t
<tag>${VISUAL}</tag>
endsnippet
